/* Start Variables */
:root {
  --main-animation: 0.7s linear;
  --main-transition: 0.3s;
  --main-color: #19c8fa;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --section-padding: 100px;
  --padding-top: 100px;
  --padding-bottom: 100px;
}

/* End Variables */
/* start component */

/* Start popup/modal */
.modal {
  display: none;  /* Hidden by default */
  position: fixed;  /* Stay in place */
  z-index: 2 ;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;   /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* Modal Content */
.modal-content {
  background-color: #00bcd494;
  margin: 115px auto 0;
  padding: 20px;
  border: 1px solid #8bc34a;
  width: 80%;
  border-radius: 7px;
  color: white;
  font-family: cursive;
}

/* Close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* End popup/modal */
.main-title {
  border: 3px solid black;
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  font-size: 26px;
  font-family: "Font Awesome 6 Free";
  letter-spacing: 3px;
  position: relative;
  z-index: 1;
}

.main-title:hover {
  color: white;
  border: 3px solid white;
  transition-delay: 0.5s;
}

.main-title::after,
.main-title::before {
  content: "";
  position: absolute;
  background: var(--main-color);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

/*Start Main Heading - Kasper Template*/
.main-heading {
  text-align: center;
}

.main-heading h1 {
  margin: 22px 0;
  padding: 0 0 15px 0px;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  animation: color 2s linear infinite alternate;
}

@keyframes color {
  0% {
    color: black;
  }

  25% {
    color: var(--main-color);
  }

  50% {
    color: rgb(190, 30, 129);
  }

  75% {
    color: rgb(89, 0, 255);
  }

  100% {
    color: var(--main-color);
  }
}

@media (max-width: 767px) {
  .main-heading h1 {
    font-size: 20px;
  }
}

.main-heading h1::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: 2px dashed blue;
  animation: move 2s linear infinite alternate;
}

@keyframes move {
  0% {
    left: 56%;
  }

  50% {
    left: 50%;
  }

  100% {
    left: 45%;
  }
}

.main-heading h1::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 95px;
  height: 2px;
  background-color: black;
}

/* End Main Heading - Kasper Template */
/* start component */
/* Start keyframes */
@keyframes bounce {

  0%,
  50%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-10px);
  }

  75% {
    transform: translateY(-5px);
  }
}

@keyframes left-move {
  50% {
    width: 12px;
    height: 12px;
    left: 0;
  }

  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes right-move {
  50% {
    width: 12px;
    height: 12px;
    right: 0;
  }

  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 40px;
  }
}

/* for Arrows in Articles */
@keyframes left-to-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes flashing {

  0%,
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

/* End keyframes */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/****================================> Media & Container <================================*/
/* Mobile devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium devices */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large devices */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

html {
  scroll-behavior: smooth;
}

/* End Global Rules */

/* start header */
.Main-Header {
  height: 72px;
  background-color: black;
  color: white;
  font-family: cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.Main-Header .logo {
  font-size: 1.3em;
  color: aquamarine;
}

.Main-Header .detailes {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}

.Main-Header .detailes span {
  display: block;
}

@media (max-width: 992px) {

  .Main-Header .detailes span,
  .detailes .name {
    display: none
  }

  .detailes .user i.Menu {
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .detailes .user i.Menu {
    display: none;
  }
}

.Main-Header .detailes a {
  display: block;
  color: white;
  text-decoration: none;
}

.Main-Header .detailes .user {
  display: flex;
  gap: 10px;
}

/* End Header */
/* Start Servs*/
.servs {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 5px;
}

.Servs .box,
.servs #myBtn {
  transition: var(--main-transition);
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0;
  padding: 5px;
  border-radius: 35%;
  width: 115px;
  height: 30px;
  justify-content: center;
  color: black;
}

.Servs .box:hover {
  box-shadow: 0 0 10px #ccc;
  transform: scale(1.1);
}

.Servs .box i {
  color: cadetblue;
}
.Servs .modal-content{
  position: relative;
  display: flex;
  flex-direction: column;
}
.Servs .modal-content .close{
  position: absolute;
  color: red;
  top: 0;
  right: 10px;
}
.Servs .modal-content .all-srvs{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media(max-width:797Px) {
  .servs {
    gap: 10px;
  }

  .Servs .box,
  .servs #myBtn {
    gap: 3px;
    padding: 0px;
    margin: 0 5px;
    font-size: 7px;
    width: 50px;
  }
  .Servs .modal-content .all-srvs{
    gap: 10px;
  }
}

/* End Servs */
/* start Programs */
.Programs {
  padding: 50px 0;
}

.Programs .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.Programs .card {
  overflow: hidden;
  text-align: center;
  border: 0.5px solid rgb(219, 219, 219);
}

.Programs .image {
  position: relative;
}

.Programs .image img {
  width: 100%;
  max-width: 100%;
}

.Programs .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 100%;
  height: 100%;
}

.Programs .image::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -1px;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.Programs .card:hover .image::after {
  border-width: 0px 0px 170px 0px;
}

.Programs .container h2 {
  position: relative;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: auto;
  width: fit-content;
}

.Programs .container h2::after {
  content: "";
  position: absolute;
  height: 5px;
  width: calc(100% - 30px);
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}

.Programs .Multi {
  text-align: start;
  padding: 50px 0 0 10px;
  font-size: 1.19em;
}

.Programs .Multi h3 {
  font-family: math;
  text-decoration: underline;
  color: #562323;
  margin: 0;
}

.Programs .Multi ul {
  list-style: auto;
  padding: 0 0 0 40px;
}

.Programs .Multi ul li {
  padding: 10px 0;
  font-family: 'circular';
}

.Programs a {
  display: block;
  border: 3px solid transparent;
  border-radius: 4px;
  width: fit-content;
  padding: 10px 20px;
  font-size: larger;
  font-family: "Font Awesome 6 Free";
  font-weight: bolder;
  letter-spacing: 1.5px;
  margin: 40px auto 20px;
  position: relative;
  transition: var(--main-transition);
}

.Programs .card:hover a {
  color: white;
}

.Programs a::after {
  content: "";
  position: absolute;
  transition: var(--main-transition);
  width: 0%;
  height: 100%;
  background-color: red;
  top: 0;
  left: 0;
  z-index: -1;
}

.Programs .card:hover a::after {
  width: 100%;
}

/* start custom colors of cards */
/* One-Month */
.Programs .One-Month .image::before {
  background-color: rgb(255 0 0 / 20%);
}

.Programs .container .One-Month h2::after {
  background-color: red;
}

.Programs .One-Month a {
  color: red;
  border-color: red;
}

.Programs .One-Month a::after {
  background-color: red;
}

/* Two-Month */
.Programs .Two-Month .image::before {
  background-color: hsl(174deg 100% 29% / 20%);
}

.Programs .container .Two-Month h2::after {
  background-color: #009688;
}

.Programs .Two-Month a {
  color: #009688;
  border-color: #009688;
}

.Programs .Two-Month a::after {
  background-color: #009688;
}

/* Three-Month */
.Programs .Three-Month .image::before {
  background-color: rgb(3 169 244 / 20%);
}

.Programs .container .Three-Month h2::after {
  background-color: #03a9f4;
}

.Programs .Three-Month a {
  color: #03a9f4;
  border-color: #03a9f4;
}

.Programs .Three-Month a::after {
  background-color: #03a9f4;
}

/* End custom colors of cards */
/* End Programs */
/* start Types oF Tourism*/
.type {
  padding: 20px;
  border: 1.5px solid #34ace6;
  border-radius: 8px;
  margin-bottom: 20px;
}

.type:hover {
  background-color: #d7e9ff;
  border: 1.5px dashed #004aff;
  transition: 1s;
}

.type img {
  height: 120px;
  transform: scale(1.1);
  transition: var(--main-transition);
}

.type:hover img {
  height: 140px;
  transform: scale(1.1) rotate(-2deg);
}

.type span {
  margin-left: auto;
  background: #950033;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 767px) {
  .type span {
    margin: 0 auto;
  }
}

/* End Types oF Tourism  */
/* start Cityes  */
.city {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.city .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 40px;
}

.city .box {
  position: relative;
}

.city .box::before,
.city .box::after {
  content: "";
  position: absolute;
  background-color: #e4e4e4;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 15px;
}

.city .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}

.city .box::after {
  width: 0;
  z-index: -1;
  background-color: #efefef;
  transition: var(--main-transition);
}

.city .box:hover::after {
  width: calc(100% - 60px);
}

.city .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.city .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}

.city .box:hover .data img {
  filter: grayscale(100%);
}

.city .box .data .options {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.city .box .data .options a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city .box .data .options a i {
  color: #777;
  transition: var(--main-transition);
}

.city .box .data .options i:hover {
  color: var(--main-color);
}

.city .info {
  padding-left: 80px;
}

.city .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: var(--main-transition);
}

.city .box:hover .info h3 {
  color: #777;
}

.city .info p {
  margin: 10px 0 25px;
  font-family: system-ui;
  font-weight: 500;
  color: #666;
}

/* End Cityes  */

.Show-video:hover .city {}